h1{
  font-family: "Poppins Regular", sans-serif;
  font-size: 24px;
  color: #404040;
  margin-bottom: 25px;
}

p, h2{
  margin: 0 0 5px;
}

p{
  font-size: 10px;
}

.activity:first-child{
  border-radius: 10px 10px 0 0;
}

.activity:last-of-type{
  border-radius: 0 0 10px 10px;
}

.activity{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 10px 10px 10px 20px;
  /*border-radius: 10px;*/
}

.activity-top{
  display: flex;
  justify-content: space-between;
}

.activity-top h2{
  font-size: 12px;
  margin-top: 12px;
}

.activity-top p{
  font-size: 12px;
}

.cost{
  align-self: flex-end;
}

.activity-addresses{
  display: flex;
  flex-direction: row;
}

button{
  width: 100%;
  font-family: "Poppins Medium", sans-serif;
  font-size: 16px;
  background-color: #0BD1B8;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 20px;
}

@media only screen and (min-width: 550px) {
  .container{
    display: flex;
    flex-direction: column;
  }

  button{
    width: auto;
    margin-top: 20px;
    align-self: flex-end;
  }
}
