.edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-container label {
  font-size: 20px;
  color: #5d5d5d;
}

#title, #datetime, #type, .provide-field {
  color: #404040 !important;
  text-align: center;
  padding: 5px;
  width: 70%;
}

.cancel-button {
  background: #F31259 !important;
}

.message {
  align-self: center;
  justify-self: center;
  margin: 0;
}

.form-button {
  width: 100% !important;
}

@media screen and (min-width: 801px) {
  .form-button {
    width: 25vw !important;
    align-self: center;
  }
}

