<nav>
  <div class="logo">
    <a (click)="navigateTo('portal')" class="logo-desktop"><img src="assets/icons/logo-with-text-black.svg" alt="logo-text"></a>
    <a (click)="navigateTo('portal')" class="logo-mobile"><img src="assets/icons/logo.svg" alt="logo-mobile"></a>
  </div>
  <ul class="menu-items">
    <li class="menu-item"><a id="portal" #href (click)="navigateTo('portal')"><img src="assets/icons/navigation/icon-dashboard.svg" alt="dashboard-icon"><p>Dashboard</p></a></li>
    <li class="menu-item"><a id="accounts" #href (click)="navigateTo('accounts')"><img src="assets/icons/navigation/icon-accounts.svg" alt="accounts-icon" ><p>Accounts</p></a></li>
    <li class="menu-item"><a id="category" #href (click)="navigateTo('category')"><img src="assets/icons/navigation/icon-categories.svg" alt="categories-icon" ><p>Categories</p></a></li>
    <li class="menu-item"><a id="payee" #href (click)="navigateTo('payee')"><img src="assets/icons/navigation/icon-payees.svg" alt="payees-icon" ><p>Payees</p></a></li>
    <li class="menu-item"><a id="payments" #href (click)="navigateTo('payments')"><img src="assets/icons/navigation/icon-payments.svg" alt="payments-icon" ><p>Payments</p></a></li>
    <li class="menu-item"><a id="analysis" #href (click)="navigateTo('analysis')"><img src="assets/icons/navigation/icon-analysis.svg" alt="analysis-icon" ><p>Financial analysis</p></a></li>
    <li class="menu-item mobile"><a (click)="displayInfo()"><p>Settings</p></a></li>
    <li class="menu-item mobile"><a (click)="logout()"><p>Log out</p></a></li>
  </ul>
</nav>
