@font-face {
  font-family: "Poppins Regular";
  src: url("src/assets/fonts/Poppins-Regular.ttf");
}

nav {
  background-color: #FFFFFF;
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins Regular", sans-serif;
  font-size: 18px;
}

.logo a img {
  height: 55px;
  margin-top: 15px;
}

.menu-items {
  margin-top: 55px;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  padding-left: 30px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #404040;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li a img {
  width: 25px;
  margin-right: 25px;
}

li a p {
  display: inline-block;
  margin-bottom: 15px;
}
