<h1>Popular accounts</h1>
<input type="image" src="assets/icons/dashboard/plus-button.png" alt="plus-button"/>
<div id="popular-accounts">
  <div class="box-account" [ngStyle]="{'background-color': getColor()}">
    <div class="box-account-top">
      <img src="assets/icons/dashboard/wallet-type.png" alt="icon bank/wallet">
      <a>...</a>
    </div>
    <p>Portfel Elżbieta</p>
    <p class="balance-value">$3005.00</p>
  </div>
  <div class="box-account" [ngStyle]="{'background-color': getColor()}">
    <div class="box-account-top">
      <img src="assets/icons/dashboard/bank-type.png" alt="icon bank/wallet">
      <a>...</a>
    </div>
    <p>Portfel Elżbieta</p>
    <p class="balance-value">$3005.00</p>
  </div>
  <div class="box-account" [ngStyle]="{'background-color': getColor()}">
    <div class="box-account-top">
      <img src="assets/icons/dashboard/bank-type.png" alt="icon bank/wallet">
      <a>...</a>
    </div>
    <p>Portfel Elżbieta</p>
    <p class="balance-value">$3005.00</p>
  </div>
  <div class="box-account" [ngStyle]="{'background-color': getColor()}">
    <div class="box-account-top">
      <img src="assets/icons/dashboard/bank-type.png" alt="icon bank/wallet">
      <a>...</a>
    </div>
    <p>Portfel Elżbieta</p>
    <p class="balance-value">$3005.00</p>
  </div>
  <div class="dropdown-content">
    <ul>
      <li>
        <a>See transactions</a>
      </li>
      <li>
        <a>Rename</a>
      </li>
      <li>
        <a>Delete</a>
      </li>
    </ul>
  </div>
</div>
