h1{
  font-size: 20px;
}

#popular-accounts{
  display: grid;
  grid-template-columns: auto auto;
  /*grid-template-rows: 25% 100px auto;*/
}

@media only screen and (min-width: 550px) {
  .container{
    display: flex;
  }

  input{
    height: 100%;
  }

  #popular-accounts{
    grid-template-columns: auto auto auto auto;
  }
}

.box-account{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 10px;
  margin: 10px;
}

.box-account p{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.box-account-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.box-account-top a{
  font-size: 36px;
  margin-bottom: 20px;
  cursor: pointer;
}

.balance-value{
  font-family: "Poppins Bold", serif;
  font-size: 20px !important;
}

.dropdown-content{
  width: 122px;
  height: 86px;
  padding: 10px 10px 0;
  display: none;
  float: left;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 300;
  border-radius: 10px;
}

.dropdown-content ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-content li{
  margin: 0;
  text-align: right;
}

.dropdown-content a{
  color: #545759;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.delete-text {
  color: #F31259 !important;
}
