#install {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 10px;
  align-self: center;
  width: auto;
  z-index: 999;
}

#install-button {
  font-family: "Poppins Regular", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 20px 0 0 20px;
  width: 100px;
  height: 50px;
  background-color: #0BD1B8;
}

#close-install-button {
  border: none;
  border-radius: 0 20px 20px 0;
  width: 35px;
  height: 50px;
  background-color: #F31259;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#app > *:not(#install)  {
  width: 100%;
}

@media screen and (min-width: 550px) {
  #install {
    left: 80px;
    align-self: flex-start;
  }
}

@media screen and (min-width: 800px) {
  #install {
    left: 250px;
  }
}

@media screen and (min-width: 900px) {
  #install {
    top: 600px;
    left: 60px;
  }
}

@media screen and (min-height: 900px) {
  #install {
    top: 800px;
  }
}
