<div class="page-content" style="height: calc(100vh - 149px)">
  <app-select-time-period (updateData)="updateData($event)" />

  <div id="table-analysis">
    <p-table
      responsiveLayout="stack"
      [value]="tableData"
      scrollHeight="flex"
    >

      <ng-template pTemplate="header">
        <tr class="table-header">
          <th>Name</th>
          <th>Income</th>
          <th>Expense</th>
          <th>Balance</th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowData="rowData"
        let-analysis
        sortMode="multiple">

        <tr class="table-body-center-text">
          <td>
					<span
            class="p-column-title">
						Name
					</span>
            {{ analysis.name }}
          </td>
          <td>
					<span
            class="p-column-title">
						Income
					</span>
            {{ analysis.income }}
          </td>
          <td>
					<span
            class="p-column-title">
						Expense
					</span>
            {{ analysis.expense }}
          </td>
          <td>
					<span
            class="p-column-title">
						Balance
					</span>
            {{ analysis.balance }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" id="no-found-message">No {{selectedType}} found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

