#table-analysis {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
}

.table-body-center-text *, #no-found-message{
  text-align: center;
}

#no-found-message {
  color: #FF7D44;
  font-size: 20px;
}

.table-header {
  background-color: inherit !important;
}

:host ::ng-deep.p-datatable-table tr:nth-child(odd){
  background-color: #E8E7E7B8;
}

:host ::ng-deep.p-datatable-table tr:nth-child(even){
  background-color: rgb(246, 246, 246);
}

:host ::ng-deep.p-datatable{
  position: initial;
}
