@font-face {
  font-family: "Poppins Regular";
  src: url("src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Semibold";
  src: url("src/assets/fonts/Poppins-SemiBold.ttf");
}

label, select, option{
  font-family: "Poppins Medium", sans-serif;
  font-size: 18px;
}

.parameter1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

select {
  padding: 10px 30px 10px 10px;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 10px;
}

#parameters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}

.parameter {
  margin-right: 3.5vw;
}

@media only screen and (max-width: 900px) {
  #parameters {
    margin: 0;
    flex-direction: column;
  }

  .parameter {
    margin-right: 0;
    margin-bottom: 3vw;
  }
}
