<div class="payment" [style]="{'background-color': backgroundColor, 'border-radius': border}">
  <div id="left-side" (click)="toggleIsFullLength()">
    <div class="payment-row">
      <p class="bold-text">{{payment.title}}</p>
    </div>
    <div class="payment-row">
      <p class="regular-text">{{payment.date.toLocaleDateString()}}, {{payment.date.toLocaleTimeString()}}</p>
      <p class="regular-text" *ngIf="payment.balanceAfter">Balance {{payment.balanceAfter}} USD</p>
    </div>
    <div class="payment-row" *ngIf="payment.categoryName !== null && isFullLength === true">
      <p class="regular-text">Category: {{payment.categoryName}}</p>
    </div>
    <div class="payment-row" *ngIf="isFullLength === true">
      <p class="regular-text">From: {{payment.from}}</p>
    </div>
    <div class="payment-row" *ngIf="isFullLength === true">
      <p class="regular-text">To: {{payment.to}}</p>
    </div>
  </div>
  <div id="center" (click)="toggleIsFullLength()"></div>
  <div id="right-side">
    <div class="payment-row" (click)="toggleIsFullLength()">
      <p class="bold-text" [ngStyle]="{color: getColor()}">{{payment.value}} USD</p>
    </div>
    <div id="dots-row" class="payment-row" *ngIf="isFullLength">
      <p id="dots" (click)="displayPopup($event)">...</p>
    </div>
  </div>
</div>
<div class="dropdown-content" [style.display]="modeDisplayPopup" [style.top]="coordinates[0]"
     [style.left]="coordinates[1]">
  <ul>
    <li>
      <a (click)="editAction()">Edit</a>
    </li>
    <li>
      <a class="delete-text" (click)="deleteButton(payment.id)">Delete</a>
    </li>
  </ul>
</div>
