h1 {
  font-size: 24px;
}

.account-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.box-account {
  width: 100%;
  max-width: 250px;
  height: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 15px 0;
}

.box-account-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-account-top img {
  height: 30px;
}
