<header>
  <div class="logo-container">
    <a href="#" class="logo-mobile"><img src="../../../../assets/icons/logo.svg" alt="logo-mobile"></a>
  </div>
  <div class="burger-container">
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <div class="menu-container">
      <ul class="menu">
        <li><a href="">Dashboard</a></li>
        <li><a href="">Accounts</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Payees</a></li>
        <li><a href="">Payments</a></li>
        <li><a href="">Charts</a></li>
        <li><a href="">Settings</a></li>
        <li><a href="">Log out</a></li>
      </ul>
    </div>
  </div>
</header>

