<div id="container">
  <h1>Income</h1>
  <ul class="main-list" *ngFor="let category of categories">
    <li class="item">
      <app-income-box [category]="category"></app-income-box>
    </li>
    <ul class="sub-list" *ngIf="category.subcategories.length != 0">
      <li class="item" *ngFor="let subcategory of category.subcategories">
        <app-income-subcategory-box [subcategory]="subcategory"></app-income-subcategory-box>
      </li>
    </ul>
  </ul>
</div>

<div class="dropdown-content" [style.display]="modeDisplayPopup" [style.top]="coordinates[0]"
     [style.left]="coordinates[1]" #dropdown>
  <ul>
    <li>
      <a>Rename</a>
    </li>
    <li>
      <a class="delete-text">Delete</a>
    </li>
  </ul>
</div>
