<div id="container">
  <h1>Income</h1>
  <ul class="main-list">
    <li class="item"><div>Coffee</div><div class="dots" (click)="displayPopup($event)">...</div></li>
    <li class="item"><div>Tea</div><div class="dots" (click)="displayPopup($event)">...</div></li>
    <ul class="sub-list">
      <li class="item"><div>Black Tea</div><div class="dots" (click)="displayPopup($event)">...</div></li>
      <li class="item"><div>Green Tea</div><div class="dots" (click)="displayPopup($event)">...</div></li>
    </ul>
    <li class="item"><div>Milk</div><div class="dots">...</div></li>
  </ul>
</div>

<div class="dropdown-content" [style.display]="modeDisplayPopup" [style.top]="coordinates[0]"
     [style.left]="coordinates[1]" #dropdown>
  <ul>
    <li>
      <a>Rename</a>
    </li>
    <li>
      <a class="delete-text">Delete</a>
    </li>
  </ul>
</div>
