<h1>Add new account</h1>
<form class="account-form">
  <input type="text" class="form-input" id="name" placeholder="Name" required>
  <select class="form-select">
    <option value="" selected disabled hidden>Select account type</option>
    <option value = "Cash">Cash</option>
    <option value = "Bank">Bank</option>
  </select>
  <input type="number" class="form-input" id="starting-balance" placeholder="Starting balance (USD)" required>
  <button type="button" class="form-button">Save</button>
</form>
